.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;

}

body {
  height: 100%;
}

#main {
  height: 500px;
  position: absolute;
  width: 30%;
  top: 40%;
  left: 37%;
}
